@model ICollection<Category>



<div class="card">
    <h3>Kategoriler</h3>
    <div class="card-body">
        <a class="btn btn-primary" asp-action="Create">Yeni Kategori</a>
        <table class="table table-hower">
            <thead>
                <tr>
                    <td>Id</td>
                    <td>Adi</td>
                    <td>Tanimlama</td>
                    <td>Update</td>
                    <td>Delete</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.name</td>
                        <td>@item.description</td>
                        <td><a class="btn btn-info" asp-action="Update" asp-route-id="@item.id">Update</a> </td>
                        <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.id">Delete</a> </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>